/**
    1 - #2A58A3
    2 - #00C792
    3 - #D9534F
    4 - #954293
    5 - #484F5B
    6 - #04BFCD
    7 - #FFA601
**/

* {
    margin-top: 0px;
    margin-right: 17px;
    margin-left: 17px;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #E6E6E6;
}

.ad {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

.ad-img {
    width: 70%;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #2A58A3;
}

.butt {
    display: inline-block;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-b {
    font-size: 13px;
    padding: 5px 10px;
    margin: 0 3px 0 0;
    background: #FFFFFF;
    color: #444444;
    text-transform: uppercase;
}

.nav-b:hover {
    background-color: #8C9FAE;
}

.logo {
    margin: 0 0 0 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px;
}

.sbar {
    float: left;
    padding: 7px 12px 7px 45px;
    border: 1px solid grey;
    margin-right: 0px;
    font-size: 17px;
    width: 100%;
}

.sbtn {
    font-size: 20px;
    width: 30%;
    height: 38px;
    padding: 7px 12px 7px 45px;
    margin-left: 2px;
    background: #00C792;
    color: #444444;
}

.nav-2 {
    display: flex;
    justify-content: flex-start;
    background-color: #D9534F;
    color: #FFFFFF;
    height: 35px;
    font-size: 15px;
    align-items: center; 
    margin-bottom: 10px;
}

.nav-2 a{
    text-decoration: none;
    color: #FFFFFF;
}

#divv {
    display: block;
    width: 100%;
    float: left;
}

#divvv {
    display: block;
    width: 25%;
    float: right;
}

.main {
    background-color: #FFFFFF;
    padding: 0px;
    margin-left: 17px !important;
    margin-right: 17px !important;

}

#theadl {
    background-color: #954293;
    text-transform: uppercase;
}

.links {
    font-size: 10px;
    background-color: #484F5B;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.links h1 {
    font-size: 15px;
}

.latest {
    background-color: #2A58A3;
    margin-top: 10px;
    color: white;
    padding: 5px;
}

.catalogt {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 0;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.catalogb {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 0;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

#alart {
    width: 150px;
    height: 128px;
}

#artdiv {
    display: inline-block;
    margin: 0 2px 6px 2px;
    overflow: hidden;
    border: 1px solid grey;
    padding: 0 0 0 0;
    height: 128px;
    width: 150px;
}

#artdivtransform {
    transition: transform 0.5s;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: yellow;
}

#artdivtransform:hover {
    transform: translate(0,-20%);
}

#artdiv img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.tabless {
    margin: 0 17px 0 -17px;
    padding: 0 0 0 0;
}

.kk {
    margin: 0 0 0 0 !important;
}

#theadr {
    background-color: #484F5B;
    text-transform: uppercase;
}

#head-text {
    color: #FFFFFF;
}

.sfd-title {
    background-color: #00C792;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    color: #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sfd-main {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 0 0 0;
    border: 1px solid grey;
}

.sfd-img {
    transition: transform 0.5s, background-image 2s;
    margin: 0 2px 0 0;
    padding: 0 0 0 0;
}

.sfd-img:hover {
    transform: scale(1.2);
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)) url("images/aloe-vera-bright-flora-1549201.jpg");
}

.sfd-item {
    margin: 0;
}

#sfd-art {
    width: 150px;
    height: 128px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

big {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

small {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
